AGENT_URL=https://openrouter.ai/api/v1
AGENT_API_KEY=<API-KEY>
AGENT_PROVIDER=openrouter
AGENT_MODEL=google/gemini-3-pro-preview

EVALUATOR_URL=https://openrouter.ai/api/v1
EVALUATOR_API_KEY="<API-KEY>"
EVALUATOR_PROVIDER=openrouter
EVALUATOR_MODEL=google/gemini-3-pro-preview